
Start: {{start}}<br />
Current: {{current}}

<ion-row>
    <ion-col>
        <button block
                (click)="gameService.subtract(game)"
                [attr.disabled]="subtractable ? null : true">
            -1
        </button>
    </ion-col>
    <ion-col>
        <button block
                (click)="gameService.divideByThree(game)"
                [attr.disabled]="divisible ? null : true">
            &divide;3
        </button>
    </ion-col>
    <ion-col>
        <button block
                (click)="gameService.add(game)">
            +1
        </button>
    </ion-col>
</ion-row>
